.spacer-bottom-1 {
  margin-bottom: $base-line-height * 1rem;
}

.spacer-bottom-2 {
  margin-bottom: $base-line-height * 2rem;
}

.spacer-top-1 {
  margin-top: $base-line-height * 1rem;
}

.spacer-top-2 {
  margin-top: $base-line-height * 2rem;
}
