/*
* Global
* ------------------------------------------------------------------------------
*
*/

// 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
//    http://clagnut.com/blog/348/#c790
// 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
//    http://www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/

html {
  overflow-y:               scroll;
  min-height:               100%;

  font-family:              $font-family;
  font-size:                $font-base-size-percentage; // 1
  line-height:              $base-line-height;
  font-weight:              $font-weight;
  color:                    lighten($black, 20%);

  -webkit-text-size-adjust: $font-base-size-percentage; // 2
  -ms-text-size-adjust:     $font-base-size-percentage; // 2

  text-rendering:           optimizeLegibility; // voodoo to enable ligatures and kerning
  // Kerning for OTF http://blog.typekit.com/2014/02/05/kerning-on-the-web/
  font-kerning:             normal;
  @include font-feature-settings(kern);
  @include font-smooth(antialiased);
}

// Box sizing handled by neat
// * {
//   @include box-sizing(border-box);
// }

body {
  background-color: $bg-color;

  // Used in conjunction with the %vertical-align placeholder
  // -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
  // transform-style: preserve-3d;

  @include css-hyphens(auto);
  padding-bottom: 40px;
}

hr {
  background: $border-color;
  border: 0;
  height: 1px;
  margin: 75px 0;
}

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  // Single-direction margin declarations
  // http://csswizardry.com/2012/06/single-direction-margin-declarations/
  margin-bottom: #{$base-line-height}rem;
}