@charset "utf-8";

// Variables
//------------------------------------------------------------------------------

@import "modular-scale/stylesheets/modular-scale";
@import "utilities/variables";




// External dependencies (sourced from 'src/bower_components')
//------------------------------------------------------------------------------

// Bourbon http://bourbon.io/
@import "bourbon/app/assets/stylesheets/bourbon";
// Bourbon Neat (grid) http://neat.bourbon.io/
@import "neat/app/assets/stylesheets/neat";
@import "neat/app/assets/stylesheets/neat-helpers";

// Susy (grid)
// @import "susy"; // requires compass

// Normalize
@import "normalize-scss/normalize";




// Utilities
//------------------------------------------------------------------------------

@import "utilities/mixins";
@import "utilities/mixins-typography";




/* ==========================================================================
   Base
========================================================================== */

@import "base/global";
@import "base/typography";
@import "utilities/placeholders";




/* ==========================================================================
   Layout
========================================================================== */

@import "layout/grid";




/* ==========================================================================
   Objects
========================================================================== */

@import "objects/block";




/* ==========================================================================
   Helpers
========================================================================== */

// @import "helpers/clearfix";
// @import "helpers/state";
@import "helpers/spacers";